:host {
  display: contents;
}

.info-column {
  display: grid;
  gap: 14px;
}

@media (max-width: 900px) {
  .info-column {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 650px) {
  .info-column {
    grid-template-columns: 1fr 1fr;
  }
}
